.searchBar {
  background-color: rgb(62, 62, 179);
  padding: 10px;
  box-shadow: 0 2px 4px #0000001a;
  width: 100%;
  position:sticky;
  top: 0;
  left: 0;
  z-index: 900;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 40px;
  border-radius: 8px;
  padding: 15px;
  
  
}

.input {
  width: 400px;
  height: 20px;
  border: 1px solid rgb(67, 67, 182);
  border-radius: 8px;
  box-shadow: 0 0 1px 1px rgb(64, 64, 182);
  margin-bottom: 10px;
  padding: 4px 6px;
  background-color: white;
  margin: 15px auto;
   font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
}

.input:focus {
  border-color: rgb(108, 32, 230);
  outline: none;
}

.input::placeholder {
  color: grey;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.searchButton {
  width: 100px;
  height: 28px;
  margin: 10px auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: rgb(232, 231, 235);
  border: none;
  box-shadow: 0 0 4px 2px rgb(177, 78, 207);
  transition: background-color 2s ease, color 2s ease;
  padding: 0;
   border-radius: 8px;
   margin-left: 15px;
}

.searchButton:hover {
  cursor: pointer;
  background-color: rgb(178, 58, 214);
  color: #fafafa;
  border: none;
}

.searchButton:focus {
  border-color: rgb(178, 58, 214);
  outline: none;
}