.ImageCard {
    margin-top: 30px;
 width: 100%;
}

.ImageCard img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px rgb(129, 137, 209);
}

.ImageCard img:hover,
.ImageCard img:focus {
  cursor: pointer;
  transform: scale(1.04);
  transition: color 4000ms cubic-bezier(0.4, 0, 0.2, 1);
}