.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 0;
  margin: 0;
  width: 70%;  
  height: 90vh;
  overflow: hidden;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9); 
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); 
  z-index: 999;
}

.img {
  width: 100%;
  height: 90vh;
  object-position: center;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); 
}

.wrapper {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px 20px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.title, .text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: rgb(149, 134, 235);
  font-size: 24px;
  cursor: pointer;
}

.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  color: white;
  font-size: 36px;
  cursor: pointer;
  z-index: 1001;
  transform: translateY(-50%);
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}
