.LoadMoreBtn {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  background-color: #2563eb; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.LoadMoreBtn:hover,
LoadMoreBtn:focus {
  background-color: #2d4373;  
}
